.login-left {
  background-color: #fff;
  padding: 20px;
}

.login-right {
  background-image: url('/assets/images/background.jpg');
  background-size: cover;
  background-position: center;
  margin: 0;
  padding: 20px; /* Agrega padding para crear espacio alrededor */
  width: 50%;
  height: 100vh;
  box-sizing: border-box; /* Asegura que el padding no afecte las dimensiones totales */
}

.container-fluid {
  margin: 0 !important; /* Eliminar márgenes del contenedor */
  padding: 0 !important; /* Eliminar padding del contenedor */
}

.display-4 {
  font-size: 3rem;
  font-weight: bold;
}

.text-primary {
  color: #891738 !important;
}

.text-secondary {
  color: #891738 !important;
}

.form-control {
  padding-left: 40px;
  border: 1px solid #ced4da;
  border-radius: 5px;
}

.form-control:focus {
  border-color: #891738;
  box-shadow: 0 0 5px rgba(137, 23, 56, 0.3);
}

.bi {
  color: #891738;
}

.btn-primary {
  background-color: #891738;
  border: none;
  font-weight: bold;
  padding: 10px;
}

.btn-primary:hover {
  background-color: #6d132e;
}

.text-muted {
  font-size: 0.9rem;
}

@media (max-width: 767.98px) {
  .login-left {
    width: 100%;
  }

  .w-75 {
    width: 90% !important;
  }

  .display-4 {
    font-size: 2rem;
  }
}